<h1>Vendor Details</h1>


<p> <span class="fw-medium">Name: </span><%= vendor.name %></p>
<p> <span class="fw-medium">Phone: </span><%= vendor.phone %></p>
<p> <span class="fw-medium">Email: </span><%= vendor.email %></p>
<p> <span class="fw-medium">Address: </span><%= vendor.address %></p>
