<h1>Add Customer</h1>
<form action="/customers/create" method="POST">
  <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" name="name" placeholder="Enter Customer Name" class="form-control" required>
    </div>
    <div class="form-group">
        <label class="form-label">Phone</label>
        <input type="text" name="phone" placeholder="Enter Customer Phone" class="form-control">
    </div>
    <div class="form-group">
        <label class="form-label">Email</label>
        <input type="email" name="email" placeholder="Enter Customer Email" class="form-control">
    </div>
    <div class="form-group">
        <label class="form-label">CNIC</label>
        <input type="text" name="cnic_number" placeholder="Enter Customer CNIC" class="form-control">
    </div>
    <div class="form-group">
        <label class="form-label">Address</label>
        <input type="text" name="address" placeholder="Enter Customer Address" class="form-control">
    </div>

    <button type="submit" class="btn ">Save</button>
    <a href="/customers" class="btn ">Cancel</a>
</form>